name: Sync to Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Git LFS
        run: git lfs install

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # 1. Force the runner to download the actual model/images
          git lfs pull
          # 2. Push everything to the Hugging Face Space
          git push --force https://zayesosa:$HF_TOKEN@huggingface.co/spaces/zayesosa/animal-extinct-species main