name: Sync to Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Updated to match: zayesosa/animal-extinct-species
        run: git push --force https://zayesosa:$HF_TOKEN@huggingface.co/spaces/zayesosa/animal-extinct-species main